body {
    background: darkgreen;
}

h1 {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    color: goldenrod;
    text-decoration: 1px underline overline;
}

li {
    text-align: center;
    list-style: none;
    padding: 2%;
}

a {
    color: white;
    text-decoration: none;
}